<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote History</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <h1>Fuel Quote History</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
					<th>Delivery Date</th>
					<th>Suggested Price / Gallon</th>
					<th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table creation idea obtained from https://stackoverflow.com/questions/45983078/how-to-pass-a-data-array-from-express-js-to-ejs-template-and-render-them -->
				<% data.forEach(function(dat) { %>
				<tr>
					<td><%= dat.GallonsRequested %></td>
					<td><%= dat.DeliveryAddress %></td>
					<td><%= dat.DeliveryDate %></td>
					<td>$<%= parseFloat(dat.FuelRate).toFixed(2) %></td>
					<td>$<%= parseFloat(dat.TotalPrice).toFixed(2) %></td>
				<% }); %>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
